<div class="container">
  @if(isRunningQuiz()) {
  <form>
    <!-- the text must be passed as an innerHTML because it is encoded in HTML Unicode -->
    <p [innerHTML]="questionList()[questionIndex()].question"></p>
    <ul>
      @for (answer of shuffledAnswers(questionList()[questionIndex()]); track
      $index) {
      <li>
        <input
          type="radio"
          [id]="generate_input_id(questionIndex(), $index)"
          [name]="'q' + questionIndex()"
          [value]="answer"
          [(ngModel)]="selectedAnswer"
        />
        <label
          [innerHTML]="answer"
          [for]="generate_input_id(questionIndex(), $index)"
        >
        </label>
      </li>
      }
    </ul>
    @if (isLastQuestion()) {
    <button (click)="endQuiz()">Finish Quiz</button> } @else {
    <button (click)="submitAnswer()">Next</button>
    }
  </form>
  <div>Selected Value: {{ selectedAnswer() }}</div>
  <div>Score: {{ getScore() }}%</div>
  } @else {
  <h3>Your Score is {{ getScore() }}%</h3>
  <button (click)="takeAnotherQuiz()">Take another quiz</button>
  }
</div>
