<div class="hero-section">
  <div class="text-content">
    <h1>{{ headline }}</h1>
    <p>{{ subheadline }}</p>
    <div class="svg-container small-screen">
      <img [src]="imagePath" alt="Illustration" />
    </div>
    <ul>
      @for (feature of keyFeatures; track feature.id) {
      <li>
        {{ feature.name }}
      </li>
      }
    </ul>
    <button (click)="onClickButton()">{{ callToAction }}</button>
  </div>
  <div class="svg-container large-screen">
    <img [src]="imagePath" alt="Illustration" />
  </div>
</div>
