<div>
  <form class="container">
    <!-- the text must be passed as an innerHTML because it is encoded in HTML Unicode -->
    <p
      class="question"
      [innerHTML]="questionList()[questionIndex()].question"
    ></p>
    <div class="cards">
      @for (answer of shuffledAnswers(questionList()[questionIndex()]); track
      $index) {
      <div
        [class]="selectedAnswer() === answer ? 'card selected' : 'card'"
        class="card"
        [innerHTML]="answer"
        (click)="setSelectedAnswer(answer)"
      ></div>
      }
    </div>
    @if (isLastQuestion()) {
    <button class="btn" (click)="endQuiz()">Finish Quiz</button> } @else {
    <button class="btn" (click)="submitAnswer()">Next</button>
    }
  </form>
</div>
