.container {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.card {
    background-color: #eceaea;
    padding: 12px 8px;
    border-style: solid;
    border-color: #eceaea;
    box-sizing: border-box;
    width: 100%;

    &:hover {
        background-color: #e1e1e1;
        border-color: #333;
    }
}